.imagem_main {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLAU5QFq1j687_DK6hexki3feRbxKbkdAgdw&s");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
}